.hero {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.heroTitleText {
  padding: 98px 108px 98px 64px;
  border-radius: 30px;
  background: var(--grey);
}

.heroTitle {
  font-weight: 500;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: -0.02em;
  max-width: 548px;
  margin-bottom: 32px;
}

.heroLanguage {
  font-style: italic;
  font-weight: 400;
  background-color: var(--accent-light-color)
}

.heroText {
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: -0.02em;
  max-width: 471px;
  margin-bottom: 64px;
}

.heroLink {
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  border-radius: 12px;
  padding: 16px 88px;
  width: 267px;
  height: 60px;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heroLink:hover,
.heroLink:focus {
  color: var(--button-hover);
}

.Image {
  background-image: var(--hero-image);
  border-radius: 30px;
  width: 568px;
  height: 530px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.50px dashed var(--accent-color);
  border-radius: 30px;
  width: 1312px;
  height: 116px;
  margin: 32px 0;
}

.infoList {
  display: flex;
  gap: 100px;
  align-items: center;
}

.infoItem {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.infoNumber {
  font-weight: 500;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.02em;
}

.infoText {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
  max-width: 90px;
}
