.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  width: 565px;
  border-radius: 30px;
  font-family: var(--font-family);
  color: #121417;
  background-color: #fff;
  padding: 64px;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--yellow) rgba(0, 0, 0, 0.1);
}

.modal::-webkit-scrollbar {
  width: 8px;
}

.modal::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.modal::-webkit-scrollbar-thumb:hover {
  background-color: var(--button-submit);
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconClose {
  fill: var(--main);
  width: 100%;
  height: 100%;
}